.grid {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0.5px;
  }

.grid > span {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}
